h2.delayed-text-rotation {
    position: relative;
    span {
        // font-size: 50px;
        transition: 0.5s;
        will-change: transform;
        display: inline-block;
    }
    .s1 {
        span {
            transform-origin: bottom;
        }
    }
    .s2 {
        position: absolute;
        top: 0;
        left: 0;
        span {
            transform-origin: top;
            transform: translateY(100%) rotateX(-90deg);
        }
    }
    &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: -25px;
        left: 0;
        height: 1px;
        width: 80px;
        background: $globalTextColor;
        transition: height 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96), width 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96);
    }
}

.section {
    &:hover h2.delayed-text-rotation .s1 span {
        transform: translateY(-100%) rotateX(-90deg);
    }
    &:hover h2.delayed-text-rotation .s2 span {
        transform: translateY(0) rotateX(0);
    }
    &:hover h2.delayed-text-rotation::before {
        height: 7px;
        width: 150px;
    }
}
