.card {
    flex: 1 1 180px;
    max-width: 180px;
    background: #f1f1f1;
    border-radius: 4px;
    padding: 20px;
    position: relative;
    border: 1px solid #1d1d1d69;
    margin-bottom: 25px;
    box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
    .card-logo-container {
        height: 75px;
        justify-content: space-evenly;
        align-items: center;
        .skill-logo {
            img {
                width: 50px;
                height: auto;
            }
        }
    }
    .card-content {
        h3 {
            font-size: 1.6rem;
            text-align: center;
            margin-bottom: 10px;
        }
        p {
            justify-content: space-evenly;
            align-items: center;
            font-size: 1.2rem;
        }
        .caption {
            padding-top: 15px;
            font-size: 0.9rem;
        }
    }
}
