.characters-container {
    background: #fff;
    padding: 0 25px 100px 25px;
    h2 {
        @include sectionTitle();
    }
    p {
        color: #414141;
        font-size: 0.9375rem;
        line-height: 22px;
        margin: 0 0 30px;
        text-align: justify;
        font-family: "Montserrat", sans-serif;
    }
    .characters-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 30px;
        padding: 0 30px;
        article {
            height: 250px;
            overflow: hidden;
            grid-column: 1fr;
            .img-other-container {
                position: relative;
                img {
                    max-width: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: all 0.3s ease;
                }
                .content-container {
                    @include content-container(25%);
                    transition: all 0.3s ease;
                    .category {
                        @include category();
                    }
                    .title {
                        display: block;
                        text-align: center;
                        font-size: 1.75rem;
                        text-transform: uppercase;
                        line-height: 1;
                        font-weight: 700;
                        padding-bottom: 15px;
                    }
                    .desc {
                        display: block;
                        opacity: 0;
                        text-align: center;
                        font-family: "Montserrat", sans-serif;
                        line-height: 1;
                        transition: opacity 0.3s ease;
                    }
                }
            }
            &:hover .img-other-container img {
                transform: translate(-50%, 0) scale(1.1);
            }
            &:hover .img-other-container .content-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 0;
            }
            &:hover .img-other-container .content-container .desc {
                opacity: 1;
            }
        }
    }
}
