.contact-form-container {
    background: #fff;
    padding: 0 25px 100px 25px;
    h1 {
        &.page-title {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 42px;
            color: #414141;
            margin-bottom: 50px;
        }
    }
    h2 {
        @include sectionTitle();
    }
    p {
        color: #414141;
        font-size: 0.9375rem;
        line-height: 22px;
        margin: 0 0 30px;
        text-align: justify;
        font-family: "Montserrat", sans-serif;
        a {
            color: #414141;
            text-decoration: none;
            background-image: linear-gradient(
                180deg,
                $color-yellow,
                $color-yellow
            );
            background-position: 0 1rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            transition: all 0.1s ease;
            &:hover,
            &:focus {
                background-position: 0 0;
            }
        }
    }
    .form {
        form {
            input,
            select,
            textarea {
                display: block;
                height: 34px;
                padding: 6px 12px;
                margin: 8px 0;
                font-size: 14px;
                line-height: 1.43;
                color: #555;
                border: 1px solid #ccc;
                outline: none;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
                border-radius: 4px;
                transition: border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
                font-family: "MontSerrat", sans-serif;
                &:focus {
                    border-color: #9ecaed;
                    box-shadow: 0 0 10px #9ecaed;
                }
                &::placeholder {
                    color: #a7a7a7;
                }
            }
            input {
                width: 100%;
            }
            .name-group {
                display: flex;
                input {
                    width: 50%;
                    &:first-child {
                        margin-right: 15px;
                    }
                    &:last-child {
                        margin-left: 15px;
                    }
                }
            }
            textarea {
                width: 100%;
                height: 214px;
                resize: none;
            }
            .button-group {
                display: flex;
                justify-content: flex-end;
                margin: 50px 100px 25px 0;
                button {
                    background: #414141;
                    border: none;
                    outline: none;
                    padding: 0 10px;
                    height: 30px;
                    line-height: 30px;
                    font-size: 0.9375rem;
                    color: $color-yellow;
                    text-transform: uppercase;
                    font-family: "Roboto Condensed", sans-serif;
                    cursor: pointer;
                    transition: all 0.3s ease;
                    &:hover {
                        color: #414141;
                        background: $color-yellow;
                    }
                }
            }
            .select-group {
                width: 50%;
                padding-right: 20px;
                margin: 20px 0;
                select {
                    width: 100%;
                    font-size: 14px;
                    font-family: "MontSerrat", sans-serif;
                }
            }
        }
    }
}
