*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-yellow;
    font-family: "Roboto Condensed", sans-serif;
    // height: 5000px;
    main.container {
        width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }
}

::selection {
    background: #04a4cc;
    color: #fff;
}

.breadcrumb-container {
    padding: 5px 25px;
    background: #fff;

    .link-breadcrumb {
        font-size: 0.75rem;
        color: #8e8e8e;
        a {
            font-family: "Montserrat", sans-serif;
            color: #8e8e8e;
            text-decoration: none;
            &:hover {
                color: $color-yellow;
            }
        }
        &:not(:first-child)::before {
            display: inline-block;
            content: " > ";
            font-family: "Montserrat", sans-serif;
        }
    }
}

@media screen and (max-width: 1200px) {
    header, nav, main, footer, .characters {
        width: 100% !important;
    }
}