header {
    .nav-container {
        nav {
            background-color: white;
            width: 100%;
            border-bottom: 2px solid #414141;
            height: 50px;
            font-weight: 500;
            ul.navbar {
                display: flex;
                justify-content: flex-end;
                height: 50px;
                background-color: white;
                list-style: none;
                width: 1140px;
                margin: 0 auto;
                border-bottom: 2px solid #414141;
                li.nav-item {
                    position: relative;
                    height: 50px;
                    text-transform: uppercase;
                    padding: 0 19px;
                    line-height: 50px;
                    z-index: 6;
                    &:hover {
                        background: #32302f;
                        a,
                        .fa-search {
                            color: $color-yellow;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: #414141;
                        font-style: 20px;
                        font-size: 1.17rem;
                        letter-spacing: -0.3px;
                        .fa-search {
                            color: #414141;
                        }
                    }
                    ul.submenu-container {
                        position: fixed;
                        background: #32302f;
                        top: 47px;
                        right: 0;
                        list-style: none;
                        display: none;
                        justify-content: flex-end;
                        width: 100vw;
                        padding-right: 400px;
                        li {
                            position: relative;
                            display: inline-block;
                            a {
                                display: block;
                                padding: 15px 7px;
                                color: #fff;
                                font-size: 0.9375rem;
                                font-weight: 500;
                                line-height: 18px;
                                &:hover {
                                    color: $color-yellow;
                                }
                            }
                            &:not(:last-child) a::after {
                                content: " | ";
                                color: #fff;
                                padding-left: 7px;
                            }
                        }
                    }
                    &:hover ul.submenu-container {
                        display: flex;
                    }
                }
                .header-logo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 93px;
                    height: 48px;
                    z-index: 999;
                    display: none;
                }
            }
        }
    }
}

.characters {
    position: relative;
    padding-top: 118px;
    height: 118px;
    width: 1170px;
    margin: 0 auto;
    .character {
        background: no-repeat center center;
        background-size: cover;
        max-width: 100%;
        position: absolute;
        top: 0;
        height: 118px;
        transition: all 0.3s ease;
        &.dewey {
            background-image: url("./img/character-dewey.png");
            margin-left: -110px;
            width: 220px;
            left: 36%;
            z-index: 2;
        }
        &.reese {
            background-image: url("./img/character-reese.png");
            margin-left: -108.5px;
            width: 217px;
            z-index: 3;
            left: 41.5%;
        }
        &.lois {
            background-image: url("./img/character-lois.png");
            margin-right: -117.5px;
            right: 29.5%;
            width: 235px;
            z-index: 1;
        }
        &.malcolm {
            background-image: url("./img/character-malcolm.png");
            left: 50%;
            margin-left: -133px;
            width: 266px;
            z-index: 4;
        }
        &.francis {
            background-image: url("./img/character-francis.png");
            margin-right: -104px;
            width: 208px;
            z-index: 3;
            right: 41%;
        }
        &.hal {
            background-image: url("./img/character-hal.png");
            margin-right: -96px;
            width: 192px;
            z-index: 2;
            right: 33.5%;
        }
    }
    .logo {
        display: block;
        position: absolute;
        top: 0;
        left: 10px;
        height: 118px;
    }
}

@media screen and (max-width: 1200px) {
    .characters {
        .logo {
            display: none;
        }
    }
    header {
        .nav-container {
            nav {
                .navbar {
                    .header-logo {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .characters {
        .lois {
            display: none;
        }
    }
    header {
        .nav-container {
            nav {
                .navbar {
                    .nav-item {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
