@mixin sectionTitle($titleColor: $color-yellow, $fontSize: 1.75rem) {
    // A placer dans un h2 par exemple (<h2><span>{Titre}</span></h2>)
    text-transform: uppercase;
    color: $titleColor;
    text-align: center;
    line-height: 1;
    font-weight: 700;
    font-size: $fontSize;
    padding: 20px 0;
    span {
        padding: 0 90px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        z-index: 2;
        &::before,
        &::after {
            content: "";
            width: 80px;
            position: absolute;
            height: 4px;
            border-top: 1px solid $color-yellow;
            border-bottom: 1px solid $color-yellow;
            top: 50%;
            transform: translate(0, -50%);
            z-index: 1;
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
}

@mixin darkButton() {
    text-align: center;
    a {
        display: inline-block;
        height: 30px;
        background: #414141;
        color: $color-yellow;
        padding: 0 10px;
        line-height: 30px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.9375rem;
        transition: all 0.3s ease;
        i {
            margin-right: 5px;
        }
        &:hover {
            background: $color-yellow;
            color: #414141;
        }
    }
}

@mixin content-container($marginTop: 50%) {
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: $marginTop;
    padding: 15px;
    background: rgba(0, 0, 0, 0.25);
    color: #fff;
}

@mixin category() {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: "Roboto Condensed", sans-serif;
    span {
        background: $color-yellow;
        padding: 0 8px;
    }
}
