@import "mixins";

.other-section {
    background: #fff;
    padding-bottom: 100px;
    h2 {
        @include sectionTitle();
    }
    .other-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        padding: 0 30px;
        article {
            height: 250px;
            overflow: hidden;
            &:nth-child(1) {
                grid-column: 1 / 2;
            }
            &:nth-child(2) {
                grid-column: 2 / 4;
            }
            &:nth-child(3) {
                grid-column: 4 / 5;
            }
            &:nth-child(4) {
                grid-column: 1 / 3;
            }
            &:nth-child(5) {
                grid-column: 3 / 4;
            }
            &:nth-child(6) {
                grid-column: 4 / 5;
            }
            .img-other-container {
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, 0);
                    transition: all 0.3s ease;
                }
                .content-container {
                    transition: all 0.3s ease;
                    .title {
                        display: block;
                        text-align: center;
                        font-size: 1.75rem;
                        text-transform: uppercase;
                        line-height: 1;
                        font-weight: 700;
                        padding-bottom: 15px;
                    }
                    .desc {
                        display: block;
                        opacity: 0;
                        text-align: center;
                        font-family: "Montserrat", sans-serif;
                        line-height: 1;
                        transition: opacity 0.3s ease;
                    }
                }
            }
            &:hover .img-other-container img {
                transform: translate(-50%, 0) scale(1.1);
            }
        }

        article:nth-child(1),
        article:nth-child(3),
        article:nth-child(5),
        article:nth-child(6) {
            .img-other-container {
                img {
                    max-width: 180%;
                }
                .content-container {
                    @include content-container();
                    .category {
                        @include category();
                    }
                }
            }
            &:hover .img-other-container .content-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 0;
            }
            &:hover .img-other-container .content-container .desc {
                opacity: 1;
            }
        }

        article:nth-child(2),
        article:nth-child(4) {
            .img-other-container {
                img {
                    max-width: 100%;
                }
                .content-container {
                    @include content-container(25%);
                    .category {
                        @include category();
                    }
                }
            }
            &:hover .img-other-container .content-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 0;
            }
            &:hover .img-other-container .content-container .desc {
                opacity: 1;
            }
        }
    }
}
