$globalBackgroundColor: #3d3d3d;
$generalBackground: $globalBackgroundColor;
$headerBackground: $globalBackgroundColor;
$navbarBackground: $globalBackgroundColor;
$containerBackground: rgb(255, 255, 255);
$mainBackground: rgb(255, 255, 255);
$footerBackground: $globalBackgroundColor;

$globalTextColor: #3d3d3d;
$navbarTextColor: #fff;