footer {
    background-color: $footerBackground;
    color: $navbarTextColor;
    &.footer {
        height: $footerHeight;
        justify-content: center;
        align-items: center;
    }
    p > a {
        text-decoration: underline;
        color: $navbarTextColor;
        transition: color 0.4s ease-in-out;
        &:hover {
            color: darken($navbarTextColor, 20%)
        }
    }
}