*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
noscript {
    display: block;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: $generalBackground;
    color: $globalTextColor;
    font-weight: 400;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.centered {
    text-align: center;
}

$goToTopWidth: 3rem;
$goToTopHeight: $goToTopWidth;
$goToTopFontSize: 1.4rem;

.go-to-top {
    display: flex;
    position: fixed;
    bottom: 35px;
    right: -200px;
    justify-content: center;
    align-items: center;
    font-size: $goToTopFontSize;
    outline: none;
    border: none;
    background: rgba(0, 0, 0, 0.7);
    width: $goToTopWidth;
    height: $goToTopHeight;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.308);
    transition: right 0.3s ease-in-out;
}

.reveal [class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}
.reveal-visible [class*="reveal-"] {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(0.54, 0.01, 0, 0.99);
}

.reveal-visible .reveal-2 {
    transition-delay: .1s;
}

.reveal-visible .reveal-3 {
    transition-delay: .2s;
}

.reveal-visible .reveal-4 {
    transition-delay: .3s;
}

.reveal-visible .reveal-5 {
    transition-delay: .4s;
}

.reveal-visible .reveal-6 {
    transition-delay: .5s;
}

.reveal-visible .reveal-7 {
    transition-delay: .6s;
}

.reveal-visible .reveal-8 {
    transition-delay: .7s;
}


.revealx [class*="revealx-"] {
    opacity: 0;
    transform: translateX(30px);
}
.revealx-visible [class*="revealx-"] {
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(0.54, 0.01, 0, 0.99);
}

.revealx-visible .revealx-2 {
    transition-delay: .1s;
}

.revealx-visible .revealx-3 {
    transition-delay: .2s;
}

.revealx-visible .revealx-4 {
    transition-delay: .3s;
}

.revealx-visible .revealx-5 {
    transition-delay: .4s;
}

.revealx-visible .revealx-6 {
    transition-delay: .5s;
}

.revealx-visible .revealx-7 {
    transition-delay: .6s;
}

.revealx-visible .revealx-8 {
    transition-delay: .7s;
}