div.container.grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: $headerHeight $navbarHeight 1fr $footerHeight;
    grid-template-areas:
        "header header header header header header"
        "nav nav nav nav nav nav"
        "main main main main main main"
        "footer footer footer footer footer footer";
}

header {
    grid-area: header;
    grid-row: 1 / span 1;
}

nav {
    grid-area: nav;
    grid-row: 2 / span 1;
}

main {
    grid-area: main;
    grid-column: 2 / span 4;
    grid-row: 3 / span 1;
}

footer {
    grid-area: footer;
    grid-row: 4 / span 1;
}

@media screen and (max-width: 768px) {
    main {
        grid-column: 1 / span 6;
        padding: 0 50px 0 50px;
    }
}