header {
    background-color: $headerBackground;
    height: $headerHeight;
    .img-container {
        background-color: $headerBackground;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        .header-text-container {
            text-align: center;
            color: $navbarTextColor;
            width: 100%;
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            h1 {
                font-family: "Montserrat";
                font-weight: 200;
                text-transform: uppercase;
                margin: 25px;
                font-size: 3rem;
                span {
                    padding: 15px;
                    background: rgba(17, 17, 17, 1);
                    text-shadow: 0 0 5px rgba(0, 0, 0, 1), 5px 5px 10px rgba(0, 0, 0, 0.5);
                    .Typewriter__wrapper {
                        padding: 0;
                    }
                    .Typewriter__cursor {
                        padding: 0;
                    }
                }
            }
            h2 {
                font-family: "Montserrat";
                text-transform: uppercase;
                font-weight: 400;
                color: $navbarTextColor;
                font-size: 2.69rem;
                text-shadow: 0 0 5px rgba(0, 0, 0, 1), 5px 5px 10px rgba(0, 0, 0, 0.5);
                margin-top: 60px;
                span {
                    &.opaque-block {
                        background: rgba(17, 17, 17, 1);
                        padding: 25px;
                        font-size: 2.5rem;
                        font-weight: 100;
                        letter-spacing: 5px;
                    }
                }
            }
        }
        .child {
            position: relative;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: $headerBackground;
            background-image: url("../img/07-compressed.jpg");
            background-position: center;
            background-size: cover;
            transform: scale(1.02);
            transition: transform 0.5s ease-in-out;
        }
        &:hover .child,
        &:focus .child {
            transform: scale(1);
        }
        .scroll-downs {
            cursor: pointer;
            position: absolute;
            bottom: 75px;
            left: 50%;
            transform: translateX(-50%);
            margin: auto;
            width: 75px;
            height: 100px;
            z-index: 49;
            .mousey {
                width: 6px;
                padding: 20px 30px;
                height: 60px;
                border: 5px solid #fff;
                border-radius: 50px;
                opacity: 0.75;
                box-sizing: content-box;
                .scroller {
                    width: 6px;
                    height: 15px;
                    border-radius: 25%;
                    background-color: #fff;
                    // transform: translateX(-50%);
                    animation-name: scroll;
                    animation-duration: 2s;
                    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
                    animation-iteration-count: infinite;
                }
            }
        }
        @keyframes scroll {
            0% {
                opacity: 0;
            }
            10% {
                transform: translateY(0);
                opacity: 1;
            }
            100% {
                transform: translateY(15px);
                opacity: 0;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    header {
        .img-container {
            .header-text-container {
                h1 {
                    text-transform: uppercase;
                    margin: 25px;
                    font-size: 2.5rem;
                    span {
                        padding: 15px;
                    }
                }
                h2 {
                    font-size: 2rem;
                    margin-top: 60px;
                    span {
                        &.opaque-block {
                            padding: 20px;
                            font-size: 2rem;
                            letter-spacing: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        .img-container {
            .header-text-container {
                h1 {
                    text-transform: uppercase;
                    margin: 25px;
                    font-size: 2rem;
                    span {
                        padding: 15px;
                    }
                }
                h2 {
                    font-size: 1.7rem;
                    margin-top: 50px;
                    span {
                        &.opaque-block {
                            padding: 15px;
                            font-size: 1.7rem;
                            letter-spacing: 5px;
                        }
                    }
                }
            }
            .scroll-downs {
                width: 50px;
                height: 75px;
                .mousey {
                    width: 5px;
                    padding: 15px 25px;
                    height: 50px;
                    border: 4px solid #fff;
                    .scroller {
                        width: 5px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        .img-container {
            .header-text-container {
                h1 {
                    text-transform: uppercase;
                    margin: 25px;
                    font-size: 1.8rem;
                    span {
                        padding: 10px;
                    }
                }
                h2 {
                    font-size: 1.5rem;
                    margin-top: 40px;
                    span {
                        &.opaque-block {
                            padding: 15px;
                            font-size: 1.5rem;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
            .scroll-downs {
                width: 45px;
                height: 68px;
                .mousey {
                    padding: 13px 20px;
                    height: 45px;
                    border: 4px solid #fff;
                    .scroller {
                        width: 5px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 459px) {
    header {
        .img-container {
            .header-text-container {
                h1 {
                    text-transform: uppercase;
                    margin: 25px;
                    font-size: 1.4rem;
                    span {
                        padding: 10px;
                    }
                }
                h2 {
                    font-size: 1rem;
                    margin-top: 30px;
                    span {
                        &.opaque-block {
                            padding: 8px;
                            font-size: 1rem;
                            letter-spacing: 1px;
                            font-weight: 500;
                        }
                    }
                }
            }
            .scroll-downs {
                width: 40px;
                height: 60px;
                .mousey {
                    width: 4px;
                    padding: 11px 18px;
                    height: 42px;
                    border: 3px solid #fff;
                    .scroller {
                        width: 4px;
                        height: 13px;
                    }
                }
            }
        }
    }
}
