@import './modules/main-section/about';
@import './modules/main-section/skills';
@import './modules/main-section/inspiration';
@import './modules/main-section/projects';
@import './modules/main-section/education';
@import './modules/main-section/experience';
@import './modules/main-section/contact';

main {
    background-color: $mainBackground;
    text-align: justify;
    margin-bottom: 100px;
    section {
        .title {
            font-size: 2.5rem;
            margin: 25px auto;
            color: $globalTextColor;
        }
        .title-underline-effect {
            text-align: left;
            span {
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 1px;
                    width: 75px;
                    margin: 10px 0 0 5px;
                    background: $globalTextColor;
                    transition: width 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96),
                        margin 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96),
                        height 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96);
                }
            }
        }
        a {
            text-decoration: none;
            @include linkEffect($globalTextColor);
        }
        &:hover span::after {
            margin-top: 2px;
            height: 7px;
            width: 80%;
        }


    }
}

// @media screen and (max-width: 768px) {
//     main {
//         margin-bottom: 50px;
//         section {
//             .title {
//                 font-size: 2.5rem;
//                 margin: 25px auto;
//                 color: $globalTextColor;
//             }
//             .title-underline-effect {
//                 text-align: left;
//                 span {
//                     position: relative;
//                     &::after {
//                         position: absolute;
//                         content: "";
//                         display: block;
//                         height: 1px;
//                         width: 75px;
//                         margin: 10px 0 0 5px;
//                         background: $globalTextColor;
//                         transition: width 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96),
//                             margin 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96),
//                             height 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96);
//                     }
//                 }
//             }
//             a {
//                 text-decoration: none;
//                 @include linkEffect($globalTextColor);
//             }
//             &:hover span::after {
//                 margin-top: 2px;
//                 height: 7px;
//                 width: 80%;
//             }
//             .card {
//                 flex: 1 1 180px;
//                 max-width: 180px;
//                 background: #f1f1f1;
//                 border-radius: 4px;
//                 padding: 20px;
//                 position: relative;
//                 border: 1px solid #1d1d1d69;
//                 margin-bottom: 25px;
//                 box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
//                 .card-logo-container {
//                     height: 75px;
//                     justify-content: space-evenly;
//                     align-items: center;
//                     .skill-logo {
//                         img {
//                             width: 50px;
//                             height: auto;
//                         }
//                     }
//                 }
//                 .card-content {
//                     h3 {
//                         font-size: 1.6rem;
//                         text-align: center;
//                         margin-bottom: 10px;
//                     }
//                     p {
//                         justify-content: space-evenly;
//                         align-items: center;
//                         font-size: 1.2rem;
//                     }
//                 }
//             }
    
//             .skills-container {
//                 .cards-container {
//                     margin-top: 100px;
//                     justify-content: space-evenly;
//                     align-items: center;
//                     flex-wrap: wrap;
//                     gap: 25px;
    
//                     .card#html-card {
//                         border-top: 4px solid #de5025;
//                         background: linear-gradient(
//                             135deg,
//                             lighten(#de5025, 40%),
//                             lighten(#de5025, 35%)
//                         );
//                         border-color: #de5025;
//                     }
    
//                     .card#javascript-card {
//                         border-top: 4px solid #fdd83c;
//                         background: linear-gradient(
//                             135deg,
//                             lighten(#fdd83c, 40%),
//                             lighten(#fdd83c, 35%)
//                         );
//                         border-color: #fdd83c;
//                     }
    
//                     .card#php-card {
//                         border-top: 4px solid #777bb3;
//                         background: linear-gradient(
//                             135deg,
//                             lighten(#777bb3, 40%),
//                             lighten(#777bb3, 35%)
//                         );
//                         img {
//                             width: 80px;
//                         }
//                         border-color: #777bb3;
//                     }
    
//                     .card#wordpress-card {
//                         border-top: 4px solid #444140;
//                         background: linear-gradient(
//                             135deg,
//                             lighten(#444140, 65%),
//                             lighten(#444140, 55%)
//                         );
//                         border-color: #444140;
//                     }
    
//                     .card#react-card {
//                         border-top: 4px solid #00d8ff;
//                         background: linear-gradient(
//                             135deg,
//                             lighten(#00d8ff, 50%),
//                             lighten(#00d8ff, 45%)
//                         );
//                         border-color: #00d8ff;
//                     }
    
//                     .card#symfony-card {
//                         border-top: 4px solid #19161a;
//                         background: linear-gradient(
//                             135deg,
//                             lighten(#19161a, 75%),
//                             lighten(#19161a, 60%)
//                         );
//                         border-color: #19161a;
//                     }
//                 }
//             }
    
//             .experience-container {
//                 .timeline-container {
//                     margin-top: 100px;
//                     text-align: center;
//                     .timeline {
//                         border-left: 4px solid $generalBackground;
//                         border-bottom-right-radius: 4px;
//                         border-top-right-radius: 4px;
//                         background: lighten($generalBackground, 70%);
//                         color: $globalTextColor;
//                         margin: 50px auto;
//                         padding: 50px;
//                         position: relative;
//                         line-height: 1.4rem;
//                         font-size: 1.06rem;
//                         list-style: none;
//                         text-align: left;
//                         font-weight: 300;
//                         max-width: 50%;
//                         h2 {
//                             font-weight: 600;
//                             font-size: 1.8rem;
//                             margin-bottom: 25px;
//                         }
//                         h3 {
//                             font-weight: 400;
//                             font-size: 1.4rem;
//                             margin-bottom: 5px;
//                         }
//                         .event {
//                             border-bottom: 1px dashed
//                                 lighten($generalBackground, 50%);
//                             padding-bottom: 40px;
//                             margin-bottom: 40px;
//                             position: relative;
    
//                             &:last-of-type {
//                                 padding-bottom: 0;
//                                 margin-bottom: 0;
//                                 border: none;
//                             }
    
//                             &::before,
//                             &::after {
//                                 position: absolute;
//                                 display: block;
//                                 top: 0;
//                             }
//                             &::before {
//                                 left: -210px;
//                                 color: $globalTextColor;
//                                 content: attr(data-date);
//                                 text-align: right;
//                                 font-weight: 400;
//                                 font-size: 0.9rem;
//                                 min-width: 120px;
//                             }
    
//                             &::after {
//                                 box-shadow: 0 0 0 3px
//                                     lighten($generalBackground, 20%);
//                                 left: -57.85px;
//                                 background: $generalBackground;
//                                 border-radius: 50%;
//                                 height: 11px;
//                                 width: 11px;
//                                 content: "";
//                                 top: 5px;
//                             }
//                             .job-and-desc-container {
//                                 padding-left: 40px;
//                             }
//                         }
//                         p {
//                             a {
//                                 @include linkEffect($globalTextColor, 3px);
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }