@mixin textEffect($selector, $textColor) {
    #{$selector} {
        text-decoration: none;
        color: $textColor;
        transition: all 0.2s ease-out;
        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            margin: 5px auto 0 auto;
            border-radius: 2px;
            background: darken($textColor, 10%);
            transition: all 0.2s ease-out;
        }
        &:hover::after {
            width: 25px;
            box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.2);
        }
        &:hover {
            text-shadow: 0 0 3px rgba(255, 255, 255, 0.7);
        }
    }
}

@mixin linkEffect($textColor, $height: 4px) {
    color: $textColor;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        height: 1px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: $textColor;
        transition: height 0.2s ease;
    }
    &:hover::after {
        height: $height;
    }
}

@mixin caption() {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Poppins", sans-serif;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 100px;
    border-radius: 8px;
    transition: all 250ms cubic-bezier(1, -0.5, 0.78, 1.6);
    box-shadow: 0 25px 40px -15px rgba(0, 0, 0, 0.2);
    color: #f1f1f1;
}
