.navbar {
    height: 100vh;
    color: $navbarTextColor;
    float: left;
    position: relative;
    width: 300px;
    min-height: 500px;
    .navitems-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -300px;
        transition: all 0.3s ease-in-out;
        padding: 100px 30px 0 30px;
        width: 300px;
        height: 100vh;
        z-index: 50;
        background: $navbarBackground;
        .logo-container {
            width: 100px;
            height: 100px;
            margin: 0 auto 50px auto;
            border-radius: 50%;
            overflow: hidden;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                135deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(198, 198, 198, 1) 100%
            );
            a {
                height: $navbarHeight;
                img {
                    width: 100px;
                }
            }
        }
        ul {
            list-style-type: none;
            text-align: left;
            flex-direction: column;
            li {
                margin: 0 20px;
                align-items: center;
                justify-content: center;
                font-variant-caps: small-caps;
                font-size: 20px;
                height: 50px;
                width: 200px;
                a {
                    text-decoration: none;
                    color: $navbarTextColor;
                    transition: all 0.2s ease-out;
                    &:hover {
                        text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
                    }
                }
                i {
                    margin: 0 10px;
                }
            }
        }
    }
    .hamburger-menu {
        position: fixed;
        width: 50px;
        height: 50px;
        background: lighten($navbarBackground, 15%);
        opacity: 0.9;
        border-radius: 50%;
        top: 25px;
        left: 25px;
        box-shadow: 0 0 10px 3px rgba(36, 36, 36, 0.4);
        border: 1px solid #f1f1f158;
        z-index: 999;
        cursor: pointer;
        .rows-container {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30px;
            height: 30px;
            transform: translate(-50%, -50%);
            .hamburger-row {
                position: absolute;
                width: 100%;
                height: 4px;
                border-radius: 5px;
                background: #f1f1f1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: all 0.4s ease-in-out;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    background: #f1f1f1;
                    width: 100%;
                    height: 4px;
                    border-radius: 5px;
                    transition: transform 0.3s ease-in-out,
                        bottom 0.3s 0.3s ease-in-out;
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    background: #f1f1f1;
                    width: 100%;
                    height: 4px;
                    border-radius: 5px;
                    transition: transform 0.3s ease-in-out,
                        top 0.3s 0.3s ease-in-out;
                }
            }
        }
    }
}

.active {
    .rows-container {
        #hamburger-row {
            background: transparent !important;
            &::before {
                bottom: 0;
                transform: rotate(-45deg);
                transition: bottom 0.3s ease-in-out,
                    transform 0.3s 0.3s ease-in-out;
            }
            &::after {
                top: 0;
                transform: rotate(45deg);
                transition: top 0.3s ease-in-out,
                    transform 0.3s 0.3s ease-in-out;
            }
        }
    }
}

.navitems-container.active-navbar {
    left: 0;
}

/*******************/
/** Media Queries **/
/*******************/

@media screen and (max-height: 624px) {
    .logo-container {
        // display: none;
        width: 75px;
        height: 75px;
        margin: 0 auto 25px auto;
        a {
            height: $navbarHeight;
            img {
                width: 100%;
            }
        }
    }
}
