#about {
    .about-content {
        gap: 15px;
        margin-top: 100px;
        .content-block {
            width: 66.67%;
            padding: 0 50px;
            font-size: 1.2rem;
            line-height: 2.2rem;
            span {
                display: block;
                margin-bottom: 25px;
                &::first-letter {
                    font-size: 2.3rem;
                }
            }
        }
        .about-image-container {
            width: 33.33%;
            img {
                max-width: 100%;
                height: auto;
                border-radius: 3px;
            }
        }
        .carousel-container {
            width: 50%;
            height: 540px;
            background: lighten($generalBackground, 75%);
            border-radius: 7px;
            border: 1px solid lighten($generalBackground, 60%);
            .splide__slide {
                padding: 5px;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            .splide__pagination {
                .splide__pagination__page {
                    background: #1a1a1a;
                    &.is-active {
                        background: lighten(#1a1a1a, 50%);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #about {
        .about-content {
            gap: 15px;
            flex-wrap: wrap;
            flex-direction: column;
            margin-top: 50px;
            .content-block {
                width: 100%;
                padding: 0;
                font-size: 1.3rem;
                line-height: 1.8rem;
                span {
                    display: block;
                    margin-bottom: 25px;
                    &::first-letter {
                        font-size: 1.9rem;
                    }
                }
            }
            .carousel-container {
                width: 100%;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 748px) {
    #about {
        .about-content {
            .about-image-container {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    #about {
        .about-content {
            .carousel-container {
                display: none;
            }
            .about-image-container {
                width: 100%;
            }
        }
    }
}
