#contact {
    .contact-container {
        margin-top: 100px;
        width: 100%;
        justify-content: center;
        align-items: center;
        a {
            &::after {
                height: 0;
            }
            i {
                width: 50px;
                height: 50px;
                font-size: 4rem;
                margin: 25px;
                transition: color 0.3s ease-in-out;
            }
            &:hover i#linkedin {
                color: #0a66c2;
            }
            &:hover i#gitlab {
                color: #db4128;
            }
            &:hover i#mail {
                color: #558662;
            }
            &:hover i#cv {
                color: #35aae0;
            }
        }
        .caption-container {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: "Poppins", sans-serif;
            letter-spacing: 0.5px;
            font-weight: bold;
            text-align: center;
            height: 50px;
            line-height: 50px;
            width: 100px;
            border-radius: 8px;
            transition: all 250ms cubic-bezier(1, -0.5, 0.78, 1.6);
            box-shadow: 0 25px 40px -15px rgba(0, 0, 0, 0.2);
            color: #f1f1f1;
            span::after {
                content: "";
                display: block;
                position: absolute;
                bottom: -11px;
                left: 50%;
                transform: translateX(-50%);
                width: 17px;
                height: 12px;
                border-left: 15px solid transparent;
                border-right: 15px solid transparent;
            }
        }
        .linkedin-container {
            position: relative;
            & > .caption-container {
                background: #0a66c2;
                & > span::after {
                    border-top: 15px solid #0a66c2;
                }
            }
        }
        .linkedin-container:hover > .caption-container {
            opacity: 1;
            top: -40%;
        }

        .gitlab-container {
            position: relative;
            & > .caption-container {
                background: #db4128;
                & > span::after {
                    border-top: 15px solid #db4128;
                }
            }
        }
        .gitlab-container:hover > .caption-container {
            opacity: 1;
            top: -40%;
        }

        .mail-container {
            position: relative;
            & > .caption-container {
                background: #558662;
                & > span::after {
                    border-top: 15px solid #558662;
                }
            }
        }
        .mail-container:hover > .caption-container {
            opacity: 1;
            top: -40%;
        }

        .cv-container {
            position: relative;
            & > .caption-container {
                background: #35aae0;
                & > span::after {
                    border-top: 15px solid #35aae0;
                }
            }
        }
        .cv-container:hover > .caption-container {
            opacity: 1;
            top: -40%;
        }
        #linkedin, #gitlab, #mail, #cv {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 768px) {
    #contact {
        .contact-container {
            justify-content: space-around;
            margin-top: 25px;
            a {
                i {
                    width: 40px;
                    height: 40px;
                    font-size: 3.5rem;
                    margin: 20px;
                }
            }
        }
    }
}

@media screen and (max-width: 440px) {
    #contact {
        .contact-container {
            justify-content: space-evenly;
            margin-top: 25px;
            a {
                i {
                    width: 35px;
                    height: 35px;
                    font-size: 3rem;
                    margin: 15px;
                }
            }
        }
    }
}
