#education {
    .education-container {
        margin-top: 100px;
        .cards-container {
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px;
            .card {
                flex: 1 1 500px;
                max-width: 500px;
                border-radius: 4px;
                padding: 30px;
                position: relative;
                background: #f7f7f7;
                border: 1px solid #1d1d1d69;
                margin-bottom: 25px;
                box-shadow: 0px 30px 40px -20px hsl(229, 6%, 66%);
                .card-logo-container {
                    height: inherit;
                    .education-logo {
                        text-align: center;
                        padding: 15px;
                        i {
                            font-size: 6rem;
                            color: $generalBackground;
                        }
                    }
                }
                .card-content-container {
                    p {
                        text-align: center;
                        font-size: 1.2rem;
                        margin: 15px;
                    }
                    p.education-date {
                        margin: 15px 0;
                        font-weight: 600;
                        text-align: center;
                    }
                    .divider {
                        height: 1px;
                        margin: 15px auto;
                        width: 30%;
                        background: $generalBackground;
                    }
                    h3 {
                        font-size: 1.6rem;
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #education {
        .education-container {
            margin-top: 50px;
            .cards-container {
                flex-wrap: wrap;
                gap: 15px;
                .card {
                    flex: 1 1 300px;
                    max-width: 300px;
                    padding: 15px;
                    .card-logo-container {
                        .education-logo {
                            padding: 15px;
                            i {
                                font-size: 5rem;
                            }
                        }
                    }
                    .card-content-container {
                        p {
                            font-size: 1rem;
                        }
                        p.education-date {
                            margin: 10px 0;
                            font-weight: 500;
                        }
                        h3 {
                            font-size: 1.4rem;
                            margin-bottom: 7;
                        }
                    }
                }
            }
        }
    }
}
