#experience {
    .experience-container {
        margin-top: 100px;
        .timeline-container {
            text-align: center;
            .timeline {
                border-left: 4px solid $generalBackground;
                border-bottom-right-radius: 4px;
                border-top-right-radius: 4px;
                background: lighten($generalBackground, 70%);
                color: $globalTextColor;
                margin: 50px auto;
                padding: 50px;
                position: relative;
                line-height: 1.4rem;
                font-size: 1.06rem;
                list-style: none;
                text-align: left;
                font-weight: 300;
                max-width: 50%;
                h2 {
                    font-weight: 600;
                    font-size: 1.65rem;
                    margin-bottom: 20px;
                    line-height: 1.8rem;
                }
                h3 {
                    font-weight: 400;
                    font-size: 1.3rem;
                    margin-bottom: 10px;
                }
                .event {
                    border-bottom: 1px dashed lighten($generalBackground, 50%);
                    padding-bottom: 40px;
                    margin-bottom: 40px;
                    position: relative;

                    &:last-of-type {
                        padding-bottom: 0;
                        margin-bottom: 0;
                        border: none;
                    }

                    &::before,
                    &::after {
                        position: absolute;
                        display: block;
                        top: 0;
                    }
                    &::before {
                        left: -210px;
                        color: $globalTextColor;
                        content: attr(data-date);
                        text-align: right;
                        font-weight: 400;
                        font-size: 0.9rem;
                        min-width: 120px;
                    }

                    &::after {
                        box-shadow: 0 0 0 3px lighten($generalBackground, 20%);
                        left: -57.85px;
                        background: $generalBackground;
                        border-radius: 50%;
                        height: 11px;
                        width: 11px;
                        content: "";
                        top: 5px;
                    }
                    .job-and-desc-container {
                        padding-left: 40px;
                    }
                }
                p {
                    a {
                        @include linkEffect($globalTextColor, 3px);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #experience {
        .experience-container {
            margin-top: 50px;
            .timeline-container {
                .timeline {
                    margin: 25px auto;
                    padding: 25px;
                    line-height: 1.3rem;
                    font-size: 1rem;
                    font-weight: 400;
                    max-width: 100%;
                    h2 {
                        font-weight: 600;
                        font-size: 1.5rem;
                        margin-bottom: 20px;
                        line-height: 1.8rem;
                    }
                    h3 {
                        font-weight: 500;
                        font-size: 1.2rem;
                        margin-bottom: 7px;
                    }
                    .event {
                        padding: 25px 0;
                        margin-bottom: 20px;
    
                        &:last-of-type {
                            padding-bottom: 0;
                            margin-bottom: 0;
                            border: none;
                        }

                        &::before {
                            left: 0;
                            font-weight: 500;
                            font-size: 1rem;
                            top: 0;
                            text-align: left;
                            max-width: 100px;
                        }
    
                        &::after {
                            box-shadow: 0 0 0 3px lighten($generalBackground, 20%);
                            left: -32.85px;
                            background: $generalBackground;
                            border-radius: 50%;
                            height: 11px;
                            width: 11px;
                            content: "";
                            top: 5px;
                        }
                        .job-and-desc-container {
                            padding-left: 40px;
                        }
                    }
                    p {
                        a {
                            @include linkEffect($globalTextColor, 3px);
                        }
                    }
                }
            }
        }
    }
    
}