#inspiration {
    .frame {
        width: 100%;
        height: 250px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        .center {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .carousel {
                position: relative;
                width: 100%;
                height: 45px;
                text-align: center;
                font-size: 30px;
                line-height: 45px;
                .changeHidden {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    height: 45px;
                    overflow: hidden;
                    .carousel-container {
                        position: relative;
                        animation: carousel 18s ease-in-out infinite;
                        .element {
                            font-weight: 700;
                        }
                    }
                }
                
            }
        }
    }
}

@keyframes carousel {
    0%, 20% {
        transform: translateY(0);
    }
    25%, 45% {
        transform: translateY(-45px);
    }
    50%, 70% {
        transform: translateY(-90px);
    }
    75%, 95% {
        transform: translateY(-135px);
    }
    100% {
        transform: translateY(-180px);
    }
}
