#projects {
    .projects-container {
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 50px;
        margin-top: 100px;
        .project-container {
            flex: 1 600px;
            max-width: 600px;
            overflow: hidden;
            position: relative;
            box-shadow: 0 10px 40px 3px rgba(0, 0, 0, 0.219);
            img {
                max-width: 100%;
                transition: transform 0.3s ease-in-out;
            }
            .project-content-container {
                position: absolute;
                bottom: -100%;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s ease-in-out;
                background: rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 100%;

                .project-content {
                    width: 100%;
                    padding: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    color: #f1f1f1;
                    h3.project-title {
                        font-size: 1.3rem;
                        margin-bottom: 10px;
                    }
                    p.project-desc {
                        font-size: 1.1rem;
                        margin-bottom: 15px;
                        font-weight: 400;
                    }
                    a.project-link {
                        color: inherit;
                        &::after {
                            background: #f1f1f1;
                        }
                    }
                }
            }
            &:hover img {
                transform: scale(1.05);
            }
            &:hover .project-content-container {
                bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #projects {
        .projects-container {
            margin-top: 50px;
            gap: 25px;
            .project-container {
                flex: 1 400px;
                max-width: 400px;
                .project-content-container {
                    .project-content {
                        padding: 15px;
                        h3.project-title {
                            font-size: 1.1rem;
                        }
                        p.project-desc {
                            font-size: 0.9rem;
                            margin-bottom: 7px;
                        }
                        a.project-link {
                            font-size: 0.9rem;
                        }
                    }
                }
                &:hover img {
                    transform: scale(1.05);
                }
                &:hover .project-content-container {
                    bottom: 0;
                }
            }
        }
    }
    
}