#skills {
    .skills-container {
        margin-top: 100px;
        .cards-container {
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 25px;

            .card#html-card {
                border-top: 4px solid #de5025;
                background: linear-gradient(
                    135deg,
                    lighten(#de5025, 40%),
                    lighten(#de5025, 35%)
                );
                border-color: #de5025;
            }

            .card#javascript-card {
                border-top: 4px solid #fdd83c;
                background: linear-gradient(
                    135deg,
                    lighten(#fdd83c, 40%),
                    lighten(#fdd83c, 35%)
                );
                border-color: #fdd83c;
            }

            .card#php-card {
                border-top: 4px solid #777bb3;
                background: linear-gradient(
                    135deg,
                    lighten(#777bb3, 40%),
                    lighten(#777bb3, 35%)
                );
                img {
                    width: 80px;
                }
                border-color: #777bb3;
            }

            .card#wordpress-card {
                border-top: 4px solid #444140;
                background: linear-gradient(
                    135deg,
                    lighten(#444140, 65%),
                    lighten(#444140, 55%)
                );
                border-color: #444140;
            }

            .card#react-card {
                border-top: 4px solid #00d8ff;
                background: linear-gradient(
                    135deg,
                    lighten(#00d8ff, 50%),
                    lighten(#00d8ff, 45%)
                );
                border-color: #00d8ff;
            }

            .card#symfony-card {
                border-top: 4px solid #19161a;
                background: linear-gradient(
                    135deg,
                    lighten(#19161a, 75%),
                    lighten(#19161a, 60%)
                );
                border-color: #19161a;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #skills {
        .skills-container {
            margin-top: 50px;
            .cards-container {
                gap: 15px;
            }
        }
    }
}