*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

noscript {
  display: block;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #3d3d3d;
  color: #3d3d3d;
  font-weight: 400;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.centered {
  text-align: center;
}

.go-to-top {
  display: flex;
  position: fixed;
  bottom: 35px;
  right: -200px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0.7);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.308);
  transition: right 0.3s ease-in-out;
}

.reveal [class*=reveal-] {
  opacity: 0;
  transform: translateY(30px);
}

.reveal-visible [class*=reveal-] {
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.54, 0.01, 0, 0.99);
}

.reveal-visible .reveal-2 {
  transition-delay: 0.1s;
}

.reveal-visible .reveal-3 {
  transition-delay: 0.2s;
}

.reveal-visible .reveal-4 {
  transition-delay: 0.3s;
}

.reveal-visible .reveal-5 {
  transition-delay: 0.4s;
}

.reveal-visible .reveal-6 {
  transition-delay: 0.5s;
}

.reveal-visible .reveal-7 {
  transition-delay: 0.6s;
}

.reveal-visible .reveal-8 {
  transition-delay: 0.7s;
}

.revealx [class*=revealx-] {
  opacity: 0;
  transform: translateX(30px);
}

.revealx-visible [class*=revealx-] {
  opacity: 1;
  transform: translateX(0);
  transition: 1s cubic-bezier(0.54, 0.01, 0, 0.99);
}

.revealx-visible .revealx-2 {
  transition-delay: 0.1s;
}

.revealx-visible .revealx-3 {
  transition-delay: 0.2s;
}

.revealx-visible .revealx-4 {
  transition-delay: 0.3s;
}

.revealx-visible .revealx-5 {
  transition-delay: 0.4s;
}

.revealx-visible .revealx-6 {
  transition-delay: 0.5s;
}

.revealx-visible .revealx-7 {
  transition-delay: 0.6s;
}

.revealx-visible .revealx-8 {
  transition-delay: 0.7s;
}

.card {
  flex: 1 1 180px;
  max-width: 180px;
  background: #f1f1f1;
  border-radius: 4px;
  padding: 20px;
  position: relative;
  border: 1px solid #1d1d1d69;
  margin-bottom: 25px;
  box-shadow: 0px 30px 40px -20px #a3a5ae;
}
.card .card-logo-container {
  height: 75px;
  justify-content: space-evenly;
  align-items: center;
}
.card .card-logo-container .skill-logo img {
  width: 50px;
  height: auto;
}
.card .card-content h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
}
.card .card-content p {
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
}
.card .card-content .caption {
  padding-top: 15px;
  font-size: 0.9rem;
}

h2.delayed-text-rotation {
  position: relative;
}
h2.delayed-text-rotation span {
  transition: 0.5s;
  will-change: transform;
  display: inline-block;
}
h2.delayed-text-rotation .s1 span {
  transform-origin: bottom;
}
h2.delayed-text-rotation .s2 {
  position: absolute;
  top: 0;
  left: 0;
}
h2.delayed-text-rotation .s2 span {
  transform-origin: top;
  transform: translateY(100%) rotateX(-90deg);
}
h2.delayed-text-rotation::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -25px;
  left: 0;
  height: 1px;
  width: 80px;
  background: #3d3d3d;
  transition: height 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96), width 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96);
}

.section:hover h2.delayed-text-rotation .s1 span {
  transform: translateY(-100%) rotateX(-90deg);
}
.section:hover h2.delayed-text-rotation .s2 span {
  transform: translateY(0) rotateX(0);
}
.section:hover h2.delayed-text-rotation::before {
  height: 7px;
  width: 150px;
}

header {
  background-color: #3d3d3d;
  height: 100vh;
}
header .img-container {
  background-color: #3d3d3d;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
header .img-container .header-text-container {
  text-align: center;
  color: #fff;
  width: 100%;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
header .img-container .header-text-container h1 {
  font-family: "Montserrat";
  font-weight: 200;
  text-transform: uppercase;
  margin: 25px;
  font-size: 3rem;
}
header .img-container .header-text-container h1 span {
  padding: 15px;
  background: #111111;
  text-shadow: 0 0 5px black, 5px 5px 10px rgba(0, 0, 0, 0.5);
}
header .img-container .header-text-container h1 span .Typewriter__wrapper {
  padding: 0;
}
header .img-container .header-text-container h1 span .Typewriter__cursor {
  padding: 0;
}
header .img-container .header-text-container h2 {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
  font-size: 2.69rem;
  text-shadow: 0 0 5px black, 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
}
header .img-container .header-text-container h2 span.opaque-block {
  background: #111111;
  padding: 25px;
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 5px;
}
header .img-container .child {
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #3d3d3d;
  background-image: url("../img/07-compressed.jpg");
  background-position: center;
  background-size: cover;
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
}
header .img-container:hover .child, header .img-container:focus .child {
  transform: scale(1);
}
header .img-container .scroll-downs {
  cursor: pointer;
  position: absolute;
  bottom: 75px;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  width: 75px;
  height: 100px;
  z-index: 49;
}
header .img-container .scroll-downs .mousey {
  width: 6px;
  padding: 20px 30px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50px;
  opacity: 0.75;
  box-sizing: content-box;
}
header .img-container .scroll-downs .mousey .scroller {
  width: 6px;
  height: 15px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  header .img-container .header-text-container h1 {
    text-transform: uppercase;
    margin: 25px;
    font-size: 2.5rem;
  }
  header .img-container .header-text-container h1 span {
    padding: 15px;
  }
  header .img-container .header-text-container h2 {
    font-size: 2rem;
    margin-top: 60px;
  }
  header .img-container .header-text-container h2 span.opaque-block {
    padding: 20px;
    font-size: 2rem;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 900px) {
  header .img-container .header-text-container h1 {
    text-transform: uppercase;
    margin: 25px;
    font-size: 2rem;
  }
  header .img-container .header-text-container h1 span {
    padding: 15px;
  }
  header .img-container .header-text-container h2 {
    font-size: 1.7rem;
    margin-top: 50px;
  }
  header .img-container .header-text-container h2 span.opaque-block {
    padding: 15px;
    font-size: 1.7rem;
    letter-spacing: 5px;
  }
  header .img-container .scroll-downs {
    width: 50px;
    height: 75px;
  }
  header .img-container .scroll-downs .mousey {
    width: 5px;
    padding: 15px 25px;
    height: 50px;
    border: 4px solid #fff;
  }
  header .img-container .scroll-downs .mousey .scroller {
    width: 5px;
    height: 15px;
  }
}
@media screen and (max-width: 768px) {
  header .img-container .header-text-container h1 {
    text-transform: uppercase;
    margin: 25px;
    font-size: 1.8rem;
  }
  header .img-container .header-text-container h1 span {
    padding: 10px;
  }
  header .img-container .header-text-container h2 {
    font-size: 1.5rem;
    margin-top: 40px;
  }
  header .img-container .header-text-container h2 span.opaque-block {
    padding: 15px;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
  header .img-container .scroll-downs {
    width: 45px;
    height: 68px;
  }
  header .img-container .scroll-downs .mousey {
    padding: 13px 20px;
    height: 45px;
    border: 4px solid #fff;
  }
  header .img-container .scroll-downs .mousey .scroller {
    width: 5px;
    height: 15px;
  }
}
@media screen and (max-width: 459px) {
  header .img-container .header-text-container h1 {
    text-transform: uppercase;
    margin: 25px;
    font-size: 1.4rem;
  }
  header .img-container .header-text-container h1 span {
    padding: 10px;
  }
  header .img-container .header-text-container h2 {
    font-size: 1rem;
    margin-top: 30px;
  }
  header .img-container .header-text-container h2 span.opaque-block {
    padding: 8px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
  }
  header .img-container .scroll-downs {
    width: 40px;
    height: 60px;
  }
  header .img-container .scroll-downs .mousey {
    width: 4px;
    padding: 11px 18px;
    height: 42px;
    border: 3px solid #fff;
  }
  header .img-container .scroll-downs .mousey .scroller {
    width: 4px;
    height: 13px;
  }
}
.navbar {
  height: 100vh;
  color: #fff;
  float: left;
  position: relative;
  width: 300px;
  min-height: 500px;
}
.navbar .navitems-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: -300px;
  transition: all 0.3s ease-in-out;
  padding: 100px 30px 0 30px;
  width: 300px;
  height: 100vh;
  z-index: 50;
  background: #3d3d3d;
}
.navbar .navitems-container .logo-container {
  width: 100px;
  height: 100px;
  margin: 0 auto 50px auto;
  border-radius: 50%;
  overflow: hidden;
  background: black;
  background: linear-gradient(135deg, black 0%, #c6c6c6 100%);
}
.navbar .navitems-container .logo-container a {
  height: 70px;
}
.navbar .navitems-container .logo-container a img {
  width: 100px;
}
.navbar .navitems-container ul {
  list-style-type: none;
  text-align: left;
  flex-direction: column;
}
.navbar .navitems-container ul li {
  margin: 0 20px;
  align-items: center;
  justify-content: center;
  font-variant-caps: small-caps;
  font-size: 20px;
  height: 50px;
  width: 200px;
}
.navbar .navitems-container ul li a {
  text-decoration: none;
  color: #fff;
  transition: all 0.2s ease-out;
}
.navbar .navitems-container ul li a:hover {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.7);
}
.navbar .navitems-container ul li i {
  margin: 0 10px;
}
.navbar .hamburger-menu {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #636363;
  opacity: 0.9;
  border-radius: 50%;
  top: 25px;
  left: 25px;
  box-shadow: 0 0 10px 3px rgba(36, 36, 36, 0.4);
  border: 1px solid #f1f1f158;
  z-index: 999;
  cursor: pointer;
}
.navbar .hamburger-menu .rows-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
}
.navbar .hamburger-menu .rows-container .hamburger-row {
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #f1f1f1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-in-out;
}
.navbar .hamburger-menu .rows-container .hamburger-row::before {
  content: "";
  position: absolute;
  bottom: 10px;
  background: #f1f1f1;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, bottom 0.3s 0.3s ease-in-out;
}
.navbar .hamburger-menu .rows-container .hamburger-row::after {
  content: "";
  position: absolute;
  top: 10px;
  background: #f1f1f1;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out, top 0.3s 0.3s ease-in-out;
}

.active .rows-container #hamburger-row {
  background: transparent !important;
}
.active .rows-container #hamburger-row::before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
}
.active .rows-container #hamburger-row::after {
  top: 0;
  transform: rotate(45deg);
  transition: top 0.3s ease-in-out, transform 0.3s 0.3s ease-in-out;
}

.navitems-container.active-navbar {
  left: 0;
}

/*******************/
/** Media Queries **/
/*******************/
@media screen and (max-height: 624px) {
  .logo-container {
    width: 75px;
    height: 75px;
    margin: 0 auto 25px auto;
  }
  .logo-container a {
    height: 70px;
  }
  .logo-container a img {
    width: 100%;
  }
}
div.container.grid {
  background-color: white;
}

div.container.grid {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100vh 70px 1fr 150px;
  grid-template-areas: "header header header header header header" "nav nav nav nav nav nav" "main main main main main main" "footer footer footer footer footer footer";
}

header {
  grid-area: header;
  grid-row: 1/span 1;
}

nav {
  grid-area: nav;
  grid-row: 2/span 1;
}

main {
  grid-area: main;
  grid-column: 2/span 4;
  grid-row: 3/span 1;
}

footer {
  grid-area: footer;
  grid-row: 4/span 1;
}

@media screen and (max-width: 768px) {
  main {
    grid-column: 1/span 6;
    padding: 0 50px 0 50px;
  }
}
#about .about-content {
  gap: 15px;
  margin-top: 100px;
}
#about .about-content .content-block {
  width: 66.67%;
  padding: 0 50px;
  font-size: 1.2rem;
  line-height: 2.2rem;
}
#about .about-content .content-block span {
  display: block;
  margin-bottom: 25px;
}
#about .about-content .content-block span::first-letter {
  font-size: 2.3rem;
}
#about .about-content .about-image-container {
  width: 33.33%;
}
#about .about-content .about-image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}
#about .about-content .carousel-container {
  width: 50%;
  height: 540px;
  background: #fcfcfc;
  border-radius: 7px;
  border: 1px solid #d6d6d6;
}
#about .about-content .carousel-container .splide__slide {
  padding: 5px;
}
#about .about-content .carousel-container .splide__slide img {
  width: 100%;
  height: auto;
}
#about .about-content .carousel-container .splide__pagination .splide__pagination__page {
  background: #1a1a1a;
}
#about .about-content .carousel-container .splide__pagination .splide__pagination__page.is-active {
  background: #9a9a9a;
}

@media screen and (max-width: 768px) {
  #about .about-content {
    gap: 15px;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
  }
  #about .about-content .content-block {
    width: 100%;
    padding: 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  #about .about-content .content-block span {
    display: block;
    margin-bottom: 25px;
  }
  #about .about-content .content-block span::first-letter {
    font-size: 1.9rem;
  }
  #about .about-content .carousel-container {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 748px) {
  #about .about-content .about-image-container {
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  #about .about-content .carousel-container {
    display: none;
  }
  #about .about-content .about-image-container {
    width: 100%;
  }
}
#skills .skills-container {
  margin-top: 100px;
}
#skills .skills-container .cards-container {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}
#skills .skills-container .cards-container .card#html-card {
  border-top: 4px solid #de5025;
  background: linear-gradient(135deg, #f9ded6, #f5ccc0);
  border-color: #de5025;
}
#skills .skills-container .cards-container .card#javascript-card {
  border-top: 4px solid #fdd83c;
  background: linear-gradient(135deg, white, #fffbed);
  border-color: #fdd83c;
}
#skills .skills-container .cards-container .card#php-card {
  border-top: 4px solid #777bb3;
  background: linear-gradient(135deg, #fafafc, #eaeaf3);
  border-color: #777bb3;
}
#skills .skills-container .cards-container .card#php-card img {
  width: 80px;
}
#skills .skills-container .cards-container .card#wordpress-card {
  border-top: 4px solid #444140;
  background: linear-gradient(135deg, #e8e7e7, #d0cecd);
  border-color: #444140;
}
#skills .skills-container .cards-container .card#react-card {
  border-top: 4px solid #00d8ff;
  background: linear-gradient(135deg, white, #e6fbff);
  border-color: #00d8ff;
}
#skills .skills-container .cards-container .card#symfony-card {
  border-top: 4px solid #19161a;
  background: linear-gradient(135deg, #d9d4db, #b4abb8);
  border-color: #19161a;
}

@media screen and (max-width: 768px) {
  #skills .skills-container {
    margin-top: 50px;
  }
  #skills .skills-container .cards-container {
    gap: 15px;
  }
}
#inspiration .frame {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#inspiration .frame .center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#inspiration .frame .center .carousel {
  position: relative;
  width: 100%;
  height: 45px;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
}
#inspiration .frame .center .carousel .changeHidden {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  height: 45px;
  overflow: hidden;
}
#inspiration .frame .center .carousel .changeHidden .carousel-container {
  position: relative;
  animation: carousel 18s ease-in-out infinite;
}
#inspiration .frame .center .carousel .changeHidden .carousel-container .element {
  font-weight: 700;
}

@keyframes carousel {
  0%, 20% {
    transform: translateY(0);
  }
  25%, 45% {
    transform: translateY(-45px);
  }
  50%, 70% {
    transform: translateY(-90px);
  }
  75%, 95% {
    transform: translateY(-135px);
  }
  100% {
    transform: translateY(-180px);
  }
}
#projects .projects-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 100px;
}
#projects .projects-container .project-container {
  flex: 1 600px;
  max-width: 600px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 10px 40px 3px rgba(0, 0, 0, 0.219);
}
#projects .projects-container .project-container img {
  max-width: 100%;
  transition: transform 0.3s ease-in-out;
}
#projects .projects-container .project-container .project-content-container {
  position: absolute;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
#projects .projects-container .project-container .project-content-container .project-content {
  width: 100%;
  padding: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #f1f1f1;
}
#projects .projects-container .project-container .project-content-container .project-content h3.project-title {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
#projects .projects-container .project-container .project-content-container .project-content p.project-desc {
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-weight: 400;
}
#projects .projects-container .project-container .project-content-container .project-content a.project-link {
  color: inherit;
}
#projects .projects-container .project-container .project-content-container .project-content a.project-link::after {
  background: #f1f1f1;
}
#projects .projects-container .project-container:hover img {
  transform: scale(1.05);
}
#projects .projects-container .project-container:hover .project-content-container {
  bottom: 0;
}

@media screen and (max-width: 768px) {
  #projects .projects-container {
    margin-top: 50px;
    gap: 25px;
  }
  #projects .projects-container .project-container {
    flex: 1 400px;
    max-width: 400px;
  }
  #projects .projects-container .project-container .project-content-container .project-content {
    padding: 15px;
  }
  #projects .projects-container .project-container .project-content-container .project-content h3.project-title {
    font-size: 1.1rem;
  }
  #projects .projects-container .project-container .project-content-container .project-content p.project-desc {
    font-size: 0.9rem;
    margin-bottom: 7px;
  }
  #projects .projects-container .project-container .project-content-container .project-content a.project-link {
    font-size: 0.9rem;
  }
  #projects .projects-container .project-container:hover img {
    transform: scale(1.05);
  }
  #projects .projects-container .project-container:hover .project-content-container {
    bottom: 0;
  }
}
#education .education-container {
  margin-top: 100px;
}
#education .education-container .cards-container {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
#education .education-container .cards-container .card {
  flex: 1 1 500px;
  max-width: 500px;
  border-radius: 4px;
  padding: 30px;
  position: relative;
  background: #f7f7f7;
  border: 1px solid #1d1d1d69;
  margin-bottom: 25px;
  box-shadow: 0px 30px 40px -20px #a3a5ae;
}
#education .education-container .cards-container .card .card-logo-container {
  height: inherit;
}
#education .education-container .cards-container .card .card-logo-container .education-logo {
  text-align: center;
  padding: 15px;
}
#education .education-container .cards-container .card .card-logo-container .education-logo i {
  font-size: 6rem;
  color: #3d3d3d;
}
#education .education-container .cards-container .card .card-content-container p {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px;
}
#education .education-container .cards-container .card .card-content-container p.education-date {
  margin: 15px 0;
  font-weight: 600;
  text-align: center;
}
#education .education-container .cards-container .card .card-content-container .divider {
  height: 1px;
  margin: 15px auto;
  width: 30%;
  background: #3d3d3d;
}
#education .education-container .cards-container .card .card-content-container h3 {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #education .education-container {
    margin-top: 50px;
  }
  #education .education-container .cards-container {
    flex-wrap: wrap;
    gap: 15px;
  }
  #education .education-container .cards-container .card {
    flex: 1 1 300px;
    max-width: 300px;
    padding: 15px;
  }
  #education .education-container .cards-container .card .card-logo-container .education-logo {
    padding: 15px;
  }
  #education .education-container .cards-container .card .card-logo-container .education-logo i {
    font-size: 5rem;
  }
  #education .education-container .cards-container .card .card-content-container p {
    font-size: 1rem;
  }
  #education .education-container .cards-container .card .card-content-container p.education-date {
    margin: 10px 0;
    font-weight: 500;
  }
  #education .education-container .cards-container .card .card-content-container h3 {
    font-size: 1.4rem;
    margin-bottom: 7;
  }
}
#experience .experience-container {
  margin-top: 100px;
}
#experience .experience-container .timeline-container {
  text-align: center;
}
#experience .experience-container .timeline-container .timeline {
  border-left: 4px solid #3d3d3d;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #f0f0f0;
  color: #3d3d3d;
  margin: 50px auto;
  padding: 50px;
  position: relative;
  line-height: 1.4rem;
  font-size: 1.06rem;
  list-style: none;
  text-align: left;
  font-weight: 300;
  max-width: 50%;
}
#experience .experience-container .timeline-container .timeline h2 {
  font-weight: 600;
  font-size: 1.65rem;
  margin-bottom: 20px;
  line-height: 1.8rem;
}
#experience .experience-container .timeline-container .timeline h3 {
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
#experience .experience-container .timeline-container .timeline .event {
  border-bottom: 1px dashed #bdbdbd;
  padding-bottom: 40px;
  margin-bottom: 40px;
  position: relative;
}
#experience .experience-container .timeline-container .timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}
#experience .experience-container .timeline-container .timeline .event::before, #experience .experience-container .timeline-container .timeline .event::after {
  position: absolute;
  display: block;
  top: 0;
}
#experience .experience-container .timeline-container .timeline .event::before {
  left: -210px;
  color: #3d3d3d;
  content: attr(data-date);
  text-align: right;
  font-weight: 400;
  font-size: 0.9rem;
  min-width: 120px;
}
#experience .experience-container .timeline-container .timeline .event::after {
  box-shadow: 0 0 0 3px #707070;
  left: -57.85px;
  background: #3d3d3d;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}
#experience .experience-container .timeline-container .timeline .event .job-and-desc-container {
  padding-left: 40px;
}
#experience .experience-container .timeline-container .timeline p a {
  color: #3d3d3d;
  position: relative;
}
#experience .experience-container .timeline-container .timeline p a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #3d3d3d;
  transition: height 0.2s ease;
}
#experience .experience-container .timeline-container .timeline p a:hover::after {
  height: 3px;
}

@media screen and (max-width: 768px) {
  #experience .experience-container {
    margin-top: 50px;
  }
  #experience .experience-container .timeline-container .timeline {
    margin: 25px auto;
    padding: 25px;
    line-height: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    max-width: 100%;
  }
  #experience .experience-container .timeline-container .timeline h2 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 1.8rem;
  }
  #experience .experience-container .timeline-container .timeline h3 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 7px;
  }
  #experience .experience-container .timeline-container .timeline .event {
    padding: 25px 0;
    margin-bottom: 20px;
  }
  #experience .experience-container .timeline-container .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  #experience .experience-container .timeline-container .timeline .event::before {
    left: 0;
    font-weight: 500;
    font-size: 1rem;
    top: 0;
    text-align: left;
    max-width: 100px;
  }
  #experience .experience-container .timeline-container .timeline .event::after {
    box-shadow: 0 0 0 3px #707070;
    left: -32.85px;
    background: #3d3d3d;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  }
  #experience .experience-container .timeline-container .timeline .event .job-and-desc-container {
    padding-left: 40px;
  }
  #experience .experience-container .timeline-container .timeline p a {
    color: #3d3d3d;
    position: relative;
  }
  #experience .experience-container .timeline-container .timeline p a::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #3d3d3d;
    transition: height 0.2s ease;
  }
  #experience .experience-container .timeline-container .timeline p a:hover::after {
    height: 3px;
  }
}
#contact .contact-container {
  margin-top: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#contact .contact-container a::after {
  height: 0;
}
#contact .contact-container a i {
  width: 50px;
  height: 50px;
  font-size: 4rem;
  margin: 25px;
  transition: color 0.3s ease-in-out;
}
#contact .contact-container a:hover i#linkedin {
  color: #0a66c2;
}
#contact .contact-container a:hover i#gitlab {
  color: #db4128;
}
#contact .contact-container a:hover i#mail {
  color: #558662;
}
#contact .contact-container a:hover i#cv {
  color: #35aae0;
}
#contact .contact-container .caption-container {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100px;
  border-radius: 8px;
  transition: all 250ms cubic-bezier(1, -0.5, 0.78, 1.6);
  box-shadow: 0 25px 40px -15px rgba(0, 0, 0, 0.2);
  color: #f1f1f1;
}
#contact .contact-container .caption-container span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 17px;
  height: 12px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#contact .contact-container .linkedin-container {
  position: relative;
}
#contact .contact-container .linkedin-container > .caption-container {
  background: #0a66c2;
}
#contact .contact-container .linkedin-container > .caption-container > span::after {
  border-top: 15px solid #0a66c2;
}
#contact .contact-container .linkedin-container:hover > .caption-container {
  opacity: 1;
  top: -40%;
}
#contact .contact-container .gitlab-container {
  position: relative;
}
#contact .contact-container .gitlab-container > .caption-container {
  background: #db4128;
}
#contact .contact-container .gitlab-container > .caption-container > span::after {
  border-top: 15px solid #db4128;
}
#contact .contact-container .gitlab-container:hover > .caption-container {
  opacity: 1;
  top: -40%;
}
#contact .contact-container .mail-container {
  position: relative;
}
#contact .contact-container .mail-container > .caption-container {
  background: #558662;
}
#contact .contact-container .mail-container > .caption-container > span::after {
  border-top: 15px solid #558662;
}
#contact .contact-container .mail-container:hover > .caption-container {
  opacity: 1;
  top: -40%;
}
#contact .contact-container .cv-container {
  position: relative;
}
#contact .contact-container .cv-container > .caption-container {
  background: #35aae0;
}
#contact .contact-container .cv-container > .caption-container > span::after {
  border-top: 15px solid #35aae0;
}
#contact .contact-container .cv-container:hover > .caption-container {
  opacity: 1;
  top: -40%;
}
#contact .contact-container #linkedin, #contact .contact-container #gitlab, #contact .contact-container #mail, #contact .contact-container #cv {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #contact .contact-container {
    justify-content: space-around;
    margin-top: 25px;
  }
  #contact .contact-container a i {
    width: 40px;
    height: 40px;
    font-size: 3.5rem;
    margin: 20px;
  }
}
@media screen and (max-width: 440px) {
  #contact .contact-container {
    justify-content: space-evenly;
    margin-top: 25px;
  }
  #contact .contact-container a i {
    width: 35px;
    height: 35px;
    font-size: 3rem;
    margin: 15px;
  }
}
main {
  background-color: white;
  text-align: justify;
  margin-bottom: 100px;
}
main section .title {
  font-size: 2.5rem;
  margin: 25px auto;
  color: #3d3d3d;
}
main section .title-underline-effect {
  text-align: left;
}
main section .title-underline-effect span {
  position: relative;
}
main section .title-underline-effect span::after {
  position: absolute;
  content: "";
  display: block;
  height: 1px;
  width: 75px;
  margin: 10px 0 0 5px;
  background: #3d3d3d;
  transition: width 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96), margin 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96), height 0.2s 0.2s cubic-bezier(0.34, 0.99, 0.37, 0.96);
}
main section a {
  text-decoration: none;
  color: #3d3d3d;
  position: relative;
}
main section a::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: #3d3d3d;
  transition: height 0.2s ease;
}
main section a:hover::after {
  height: 4px;
}
main section:hover span::after {
  margin-top: 2px;
  height: 7px;
  width: 80%;
}

footer {
  background-color: #3d3d3d;
  color: #fff;
}
footer.footer {
  height: 150px;
  justify-content: center;
  align-items: center;
}
footer p > a {
  text-decoration: underline;
  color: #fff;
  transition: color 0.4s ease-in-out;
}
footer p > a:hover {
  color: #cccccc;
}

/*# sourceMappingURL=style.css.map */
